#home-container {
  width: 100vw;
  height: 92vh;
  background-color: #f1f1f1;

  display: flex;
  align-items: center;
  justify-content: center;
}

#dash-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
