@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #f8f8f8;
}

.image {
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("../../assets/background/login_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form {
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form form {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form form img {
  width: 300px;
  margin-bottom: 20px;
}

.join-in {
  position: absolute;
  top: 0;
}

#forgot {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-align: right;
  color: #6b7786;
}
